body {
    background-color:white;
}
#sitename {
    margin-left: 0;
    color: hsl(0deg 0% 0%);
    background-color: hsl(0deg 0% 80%);
    padding-top: 5px;
    font-family: "Gill Sans", sans-serif;
    
}
#site {
  padding-left: 1%;
}
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
  border-right: 1px solid white;
  color: white;
}

li a {
  float: left;
  color: white;
  border: 1px solid white;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color: green;
}
.content1 {
    float: left;
    float: top;
    width: 67%;
    background-color: white;
    padding-bottom: 0%;
    padding: 1%;
}
.content2 {
    float: right;
    width: 28%;
    background-color: hsl(0deg 0% 88%);
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 9.5%;
    z-index: 2;
}
#pageheading {
    line-height: 0%;
    margin-bottom: 0%;
    margin-top: 3%;
    padding: 0;
    font-size: 25px;
    padding-bottom: 0%;
    color:hsl(202deg 100% 19%);
    font-family: "Gill Sans", sans-serif;
}
#asideheading {
  line-height: 0%;
    margin-bottom: 0%;
    margin-top: 8%;
    padding: 0;
    font-size: 20px;
    color:hsl(210deg 100% 24%);
    font-family: "Gill Sans", sans-serif;
    font-weight: bolder;
}
.footer {
  background-color: hsl(0deg 0% 80%);
  float: right;
  padding-left: 84.4%;
  padding-right: 1%;
  z-index: 1;
  margin-bottom: 0%;

}
